<h1>Pet Shelter</h1>



<!-- <form>
  {{ petAdd | json  }}
  <label>
    <p>Name</p>
      <input type="text" name="petAdd.name" [(ngModel)]="petAdd.name">
  </label>
  <label>
    <p>Content</p>
      <input type="text" name="petAdd.content" [(ngModel)]="petAdd.content">
  </label>
  <button (click)="addPet()">Update</button>
</form>

<form>
  {{ petEdits | json  }}
  <label>
    <p>Name</p>
      <input type="text" name="petEdits.name" [(ngModel)]="petEdits.name">
  </label>
  <label>
    <p>content</p>
      <input type="text" name="petEdits.content" [(ngModel)]="petEdits.content">
  </label>
  <button (click)="editPet()">Update</button>
  <button (click)="removePet()">Delete</button>
</form>

<form>
    {{ zcAdd | json  }}
    <label>
      <p>Name</p>
        <input type="text" name="zcAdd.name" [(ngModel)]="zcAdd.name">
    </label>
    <label>
      <p>Content</p>
        <input type="text" name="zcAdd.content" [(ngModel)]="zcAdd.content">
    </label>
    <button (click)="addPet(pet._id)">Update</button>
  </form> -->

<router-outlet></router-outlet>
